#image {
  width: 100%;
  height: auto;
}
#head {
  font-size: 48px;
  text-align: center;
}
.para {
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
}
.para {
  text-align: left;
}
.head2 {
  text-transform: uppercase;
  font-size: 50px;
  color: rebeccapurple;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
}
#para2 {
  border-top-style: dotted;
  border-right-style: dotted;
  border-bottom-style: solid;
  border-left-style: none;
  border-width: 3px;
  border-color: rgb(78, 76, 76);
  color: royalblue;
  text-align: justify;
  font-weight: 900;
  letter-spacing: 0px;
  word-spacing: 1px;
  line-height: 1.5;
}
#ul {
  list-style-type: upper-alpha;
  width: 500;
  list-style-position: inside;
}

.carousel-caption1 {
  top: 230px;
  text-align: left;
  left: 15%;
}
